@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #A26A42;
  /* Earth */
  --foreground: #804A00;
  /* Bronze */
  --accent: #98FFD8;
  /* Mint Green */

  --font-rubik: "Rubik", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-sans: "Rubik", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  /* Extra Bold / Black for that "Thick Printed" look */
}